6. Такси Рамануджана. С. Рамануджан - индийский математик, славившийся своей интуицией в области чисел. Когда английский математик Г. Х. Харди навестил его однажды в больнице, он обмолвился, что номеров такси на котором он приехал, было 1729, такое скучное и заурядное число. На что Рамануджан ответил: "Нет, нет! Это очень интересно число. Это наименьшее число, выражаемое как сумма двух кубов двумя разными способами." Проверьте это заявление, создав программу, получающую $n$  в аргументе командной строки и выводящую все целые числа, меньше или равные  $n$, которые могут быть выражены как сумма двух кубов двумя разными способами. Другими словами, найдите различные положительные числа $a,b,c,d$, удовлетворяющие условию 
$$ a^3 + b^3 = c^3 + d^3 $$
Используйте четыре вложенных цикла for.

In [6]:
a = int (input('ramanudjan limit a='))
for a in range(1, a+1):
    for b in range(1, a+1):
        for c in range(1, a+1):
          for d in range(1, a+1):
              if a**3 + b**3 == c**3 + d**3 and a!=c and a!=d and b!=c and b!=d  and  a>b and c>d:
                print('a =', a, 'b =', b, 'c =', c, 'd=',  d, '=', a**3 + b**3 )

ramanudjan limit a=50
a = 12 b = 1 c = 10 d= 9 = 1729
a = 16 b = 2 c = 15 d= 9 = 4104
a = 24 b = 2 c = 20 d= 18 = 13832
a = 27 b = 10 c = 24 d= 19 = 20683
a = 32 b = 4 c = 30 d= 18 = 32832
a = 34 b = 2 c = 33 d= 15 = 39312
a = 34 b = 9 c = 33 d= 16 = 40033
a = 36 b = 3 c = 30 d= 27 = 46683
a = 39 b = 17 c = 36 d= 26 = 64232
a = 40 b = 12 c = 33 d= 31 = 65728
a = 48 b = 4 c = 40 d= 36 = 110656
a = 48 b = 6 c = 45 d= 27 = 110808